#p1{
    color: #FF0000 
    fontsize - large
}
#p2{
    color: #00FF00 
}
#p3{
    color: #FF00FF
}
#p4{
    color: #0000FF
}
#p5{
    color: #FFFF00
}
#p6{
    color:rgb(0, 255, 255)
}
#p7{
    color: rgb(220, 0, 255)
}
#p8{
    color: rgb(0, 255, 120)
}
#p9{
    color: rgb(200, 255, 99)
}
#p10{
    color: rgb(70, 255, 0)
}
